*mangle
:PREROUTING ACCEPT
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
COMMIT

*nat
:PREROUTING ACCEPT
-A PREROUTING -d 195.226.222.60 -i em1.200 -p tcp --dport 2222 -j DNAT  --to 10.20.16.102:2222

:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT

-A POSTROUTING -s 10.20.16.0/23 -o em1.200 -j SNAT --to-source 195.226.222.60
-A POSTROUTING -s 10.20.10.0/24 -o em1.200 -j SNAT --to-source 195.226.222.60

COMMIT

*filter
:INPUT ACCEPT [343:46656]
:FORWARD ACCEPT [4231:4131844]
:OUTPUT ACCEPT [370:58124]

-A FORWARD -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --set-mss 1436

COMMIT
