# {{ ansible_managed }}

queue_current   value:GAUGE:0:U
sess_current   value:GAUGE:0:U
sess_total      value:DERIVE:0:U
bytes_in        value:DERIVE:0:U
bytes_out       value:DERIVE:0:U
request_errors  value:DERIVE:0:U
